body{
    background-color: #cc954375;
}
.title{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #cc9543;
    margin-bottom: 40px;
    border-radius: 0.2em;
    box-shadow: 0 0.05em 0.25em 0 rgb(0 0 0 / 50%);
    color: white;
    font-size: 50px;
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;

}
h2{
    margin: auto;
    margin-bottom: 10px;
    padding: 1rem;
    background-color: #6abfc3;
    max-width: 250px;
    border: none;
    text-align: center;
    list-style: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    border-radius: 0.2em;
    box-shadow: 0 0.05em 0.25em 0 rgb(0 0 0 / 50%);
    display: list-item;
}
p{
    background-color: cyan;
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
